<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Amnesty International | Working to Protect Human Rights</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="msvalidate.01" content="26D6A2F635E09C37F73B6BEB619C3FFD" />
<meta name="google-site-verification" content="CclXLFDMO2UzD50rlrVJkefsmLQ1o2SLsGnAHHNLqZA" />
<link rel="shortcut icon" href="/sites/www.amnesty.org/themes/aitheme/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/sites/impact.amnesty.org/themes/aitheme/underflow-styles.css" />  
  <link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/modules/custom/amnesty_news/css/amnesty_news.css?L" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/modules/contrib-patch/views/css/views.css?L" />
<link type="text/css" rel="stylesheet" media="all" href="http://www.amnesty.org/sites/impact.amnesty.org/files/css/css_6bbf2d885bf35c40234557246e267754.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.amnesty.org/sites/impact.amnesty.org/files/css/css_4adc4c9acd58dbfabd1268cce89d78e0.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/themes/aitheme/ie.css?L" />
<![endif]-->
<!--[if IE 6]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/themes/aitheme/ie6.css?L" />
<![endif]-->
<!--[if IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/themes/aitheme/ie7.css?L" />
<![endif]-->
<!--[if IE 8]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/www.amnesty.org/themes/aitheme/ie8.css?L" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="/sites/impact.amnesty.org/themes/aitheme/overflow-styles.css" />
</head>

<body class="front not-logged-in no-sidebars panel-layout-twocol_stacked_1sidebar ltr en">
  <div id="page" class="front not-logged-in no-sidebars panel-layout-twocol_stacked_1sidebar ltr en">
			<div id="header-promo">
			<div id='header-promo-title'>Annual Report&nbsp;<span class='year'>2012</span></div><div id='header-promo-description'>The state of the world's human rights</div><div id='header-promo-link'><a href='/en/annual-report/2012'>Read it now &raquo;</a></div>		</div>
	    <div id="header">
      <div id="header-top">
                  <div id="secondary" class="clear-block">
            <ul class="links"><li class="menu-5531 first"><a href="/en/campaigns" title="Campaigns">Campaigns</a></li>
<li class="menu-5532"><a href="/en/library" title="Library">Library</a></li>
</ul>        </div>
        <form action="/en/ai_search"  accept-charset="UTF-8" method="get" id="aitheme-advanced-search-form">

</body>
</html>
