{%extends "base.html" %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="/static/css/leaflet.ie.css" />
<![endif]-->
{%endblock%}
{%block js%}
<script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/js/knockout-2.1.0.debug.js"></script>
<script type="text/javascript" src="/static/js/leaflet.js"></script>
<script type="text/javascript" src="/static/js/maphelpers.js"></script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}
{%block body%}
<div id="fb-root"></div>
<div id="main-container">
<div id="header">
<div id="right-head">
@twitter
</div>
</div>
<div id="content">
{%block content%}
{%endblock%}
</div>
<div id="footer">
<p>&copy; Developed by MapGuys</p>
</div>
</div>
{%endblock%}
