{%extends "aimap/base.html" %}
{%block content%}
<script>
        $(function () {
            var map = new L.Map('map');
            InitMap(map);
            
            marker1 = {
                X: 50,
                Y: 40,
                link: "detail_view1.html",
                text: "Pokus",
                imgLink: "img/img.gif"
            }
            marker2 = {
                X: 40,
                Y: 40,
                link: "detail_view2.html",
                text: "Hokus",
                imgLink: ""
            }

                DisplayMarkers(data, map);
        
            
        });
    </script>
<div id="body-container" style="overflow: auto;">
<div id="content" style="width: 50%;float:left;">
<h2>{{person.issue_name}} - {{person.get_full_name}}<h2>
</div>
<div id="map" style="height: 500px; width: 50%; float: right;"></div>
{%endblock%}
