body {
background-color: #000;
}

#main-container{
width: 1000px;
margin: 20px auto;
}

#header {
background-color: #ffff00;
margin-bottom: 10px;
}

#content {
overflow: auto;
background-color: #fff;
}

#footer {
background-color: #ffff00;
margin-top: 10px;
text-align: center;
}
